%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Journalist", root_path, class: "navbar-brand"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if can? :read, Journal
          %li= link_to "Journal", admin_journals_path
        - if can? :read, Account
          %li= link_to "Account", admin_account_index_path
        - if can? :manage, Post
          %li= link_to "Post", admin_posts_path
      - unless account_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Forgot Password ?", new_account_password_path
      - if account_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            = link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do
              %i.fa.fa-user
              = current_account.full_name
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to edit_account_registration_path do
                  %i.fa.fa-user
                  Edit account
              %li
                = link_to logout_path, method: :delete do
                  %i.fa.fa-power-off
                  Log out
