#sign-in
  %header
    %h2 Change your password
  %hr
  %section
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f|
      = render 'layouts/shared/errors', object: f.object
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, "New password", class: "control-label col-sm-3"
        .col-sm-9
          = f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Your new password"
      .form-group
        = f.label :password_confirmation, "Confirm new password", class: "control-label col-sm-3"
        .col-sm-9
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Yourn new password confirmation"
      %hr
      .form-group
        .col-sm-12
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-edit
            Change my password
