= provide(:title, "Manage Journal")
- content_for :specific_js do
  = javascript_include_tag 'journals', 'data-turbolinks-track' => true
- content_for :side_content do
  = render "layouts/shared/sidebars/journal_status"
.row
  .col-md-6
    %h1 Manage Journal
  .col-md-6
    .action{style: "margin-top: 20px;"}
      .pull-right
        = link_to new_admin_journal_path, class: "btn btn-lg btn-primary", remote: true do
          %i.fa.fa-pencil
          Tambah Journal
%hr/
- content_for :content do
  %table#journals.table.table-bordered{"data-source" => "#{admin_journals_url(format: "json")}"}
    %thead
      %tr
        %th
          .text-center Nama
        %th
          .text-center Driver
        %th
          .text-center Jumlah Account
        %th
          .text-center Manage Account
        %th
          .text-center Action
    %tbody
